extends layout

block content
  h1= title
  
  - let items = result
    div(class="container-fluid mt-3")
    div(class="row")
        each hunting, index in hunting
          div(class="col-sm-3 bg-primary m-2 p-4") #{hunting.hunting_item} - #{hunting.hunting_item_price} - #{hunting.hunting_item_quantity}